<!-- Navbar -->
<nav class="navbar justify-space-between">
  <img src="../assets/sanify_logo.png" class="d-inline-block align-top sanify_logo" alt="">
  <div class="appName">Sanify App</div>
</nav>

<!-- Header -->
<div class="container-fluid text-center mt-4 text">
  Download now for <strong>FREE</strong>!
</div>

<!-- Card -->
<div class="cardDownload">
  <div class="grid-container">
    <div class="item1">
      <img src="../assets/phone.png" class="img-fluid">
    </div>
    <div class="item2 text-center">
      <div type="button" class="buttonDownload">Success</div>
    </div>
    <div class="item3 text-center">
      <div type="button" class="buttonDownload">Success</div>
    </div>
  </div>
</div>